body {
    height: 1200px;
    background-image: url('../assets/doodle.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color:rgb(100, 4, 4) 
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#computerText {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 450px;
    position: absolute;
    left: 10px;
    top: 790px;
    font-size: larger;
    margin: auto;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: 3px solid #613c08; 
    padding: 35px;
    z-index: -1;
}

#counter {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #46166b;
    width: 500px;
    position: absolute;
    left: 600px;
    top: 560px;
    font-size: larger;
    margin: auto;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: 3px solid #46166b; 
    padding: 35px;
    z-index: -1;
}

#dogememe { 
    width: 400px; 
    margin: 10px 10px 10px 0;
    position: absolute;
    left: 60px;
    top: 190px;
}

#dropbox-new {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: larger;
    width: 400px; 
    height: 350px; 
    padding: 10px 20px;
    position: absolute;
    left: 1000px;
    top: 150px;
    z-index: -1;
}

#dropbox-old {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: larger;
    width: 400px; 
    height: 350px; 
    padding: 10px 20px;
    position: absolute;
    left: 500px;
    top: 150px;
    z-index: -1;
}

#refresh {
    position: absolute;
    width: 120px;
    height: 50px;
    left: 400px;
    top: 590px;
    font-size: larger;
}

#rock, #scissors, #paper {
    width: 300px;
    position: relative;
    top: 650px;
    left: 500px
}